@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
}
body {
    background: no-repeat url(./img/background3.jpg);
    background-size: cover;
    font-family: "Lato";
}


/*---- Start + How To Play ----- */
.start{
    width: 40%;
    color: white;
    text-align: center;
}
.btn{
    font-size: 2rem;
    color: rgb(6, 6, 109);
    cursor: pointer;
    padding: 10px;
    margin: 2rem;
    border: none;
}
h1{
    margin-top: 20%;
    font-size: 3rem;
}
h3{
    margin-top:3rem ;
    font-size: x-large;
}


/*----- Game Part -----*/
.main {
    display: flex;
    justify-content: center;
}
.grid {
    margin-top: 10px;
    margin-bottom: 8rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom left, red, rgb(209, 95, 114), purple, rgb(58, 16, 155), blue) 10;
}
.grid>img {
    width: 150px;
    height: 220px;
}
.column {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 15rem;
}
.board {
    border: 2px solid black;
}


/* ---- Card choice display above the board ---- */
.pickCard {
    text-align: center;
}
.pickCard>img {
    width: 100px;
}
#cardSelect>img {
    height: 150px;
    border-radius: 10px;
}


/* ---- Player turn display above the card choice ----*/
.nextTurn {
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}
.teamBlue {
    color: blue;
}
.teamRed {
    color: red;
}


/* ---- Decks part ---- */
#deckOne>img {
    width: 120px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid blue;
}
#deckTwo>img {
    width: 120px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid rgb(240, 27, 27);
}

